APPLICATION_ENV=development
DB_HOST=mariadb
DB_NAME=awesome
DB_USERNAME=dbuser
DB_PASSWORD=[123456]
COMPOSE_PROJECT_NAME=boneframework/bone-native-backend-api
DOMAIN_NAME=boneframework.docker
IOS_APP_ID=your_id_here
MAILER_DSN=smtp://mail:1025
PHP_IDE_CONFIG="serverName=boneframework.docker"
